<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>User page</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="navbar-text" th:text="${user.username}" style="color: white">
        ${name}
    </div>

    <div class="navbar-text" style="color: white">

        &nbsp with roles: &nbsp
    </div>

    <div class="navbar-text" th:text="${#strings.arrayJoin(user.authorities, ' ')}" style="color: white">
        ${roles}
    </div>
    <form class="btn ml-auto">
        <buttont class="btn btn-outline-dark"><a href="/logout" style="color: gray">Logout</a></buttont>
    </form>
</nav>

<br/>
<div class="row">
    <div class="col-2 mt-3 p-0">
        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
            <a class="nav-item nav-link active" data-toggle="pill" href="#user_panel" role="tab"
               aria-controls="user_panel" aria-selected="true">User</a>
        </div>
    </div>
    <div class="col-10 p-0">
        <div class="tab-content bg-light p-0">
            <div class="tab-pane fade show active pl-3" style="height: 700px;" id="user_panel"
                 role="tabpanel" aria-labelledby="user_panel">
                <h1>User information-page</h1>
                <div class="pl-3 pt-1 d-flex border-top border-left border-right">
                    <h4> About user</h4>
                </div>
                <div class="bg-white border p-3">
                    <h2>User</h2>
                    <table class="table table-striped border-top">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>E-Mail</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody id="user_info"> </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script src="/showUserInfo.js"></script>
</body>
</html>

